<div class="show-runner">

	<?php 
	if($naviConf){
		echo $naviConf;
	}
	?>
  <?php 
  if(isset($sysmsg) && !empty($sysmsg)){
    echo $sysmsg;
  } 
  ?>
  
  <?php 
  if(isset($errmsg) && !empty($errmsg)){
    echo $errmsg;
  }
  ?>

//echo '<pre>';
//print_r($);
//echo '</pre>';	
?>

<?php 
if($account){
	echo $account;
}
?>

<?php 
if($option){
	echo $option;
}
?>

<?php 
if($users){
	echo $users;
}
?>

</div>
