<div id="invite">

	<button id="inviteNew">
		<?php echo $lingo['invitingButton'];?>
	</button>

	<ul id="gencode">
		<li>
			<?php echo $lingo['invitingCode'];?>: <?php echo $account['acocode'];?>
		</li>
	</ul>
</div>