<div class="show-runner">

	<h3>
		<?php echo $lingo['noAccount'];?>
	</h3>
	<!-- end h3 -->
	<h4>
		<?php echo $lingo['noAccountSub'];?>
	</h4>
	<!-- end h4 -->

	<form action="/server/account/" method="post" id="account-option">
	
		<div class="input-container">
		
			<input type="text" name="code" value="<?php echo $lingo['code'];?>" id="code" class="short" onfocus="if (this.value=='<?php echo $lingo['code'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['code'];?>'" />
			<div class="question"></div>
			<div class="info">
				<?php echo $lingo['helpCode'];?>
			</div>
			
		</div>
		<!-- end input-container -->
		
		<div class="input-container">
			<input type="submit" name="code-submitter" value="<?php echo $lingo['optionCode'];?>" class="button" /> 
			<input type="submit" name="new-submitter" value="<?php echo $lingo['optionNew'];?>" class="button" />
		</div>
		<!-- end buttons -->
		
	</form>
	<!-- end form -->

</div>
<!-- end show-runner -->
