
<div class="table-container">

	<table class="table">
	
	<?php 
	
	if(is_array($users) && count($users)){
		foreach($users AS $key => $value){
	?>
	
		<tr class="tr">
			<td><?php echo $value['usrname'];?></td>
			<td>
			
			<?php echo $value['usrstatus'];?>
			
			</td>
			
			<td>
			<?php 
			if($value['asipermissions'] == 69){
				
				echo $lingo['accoMaster'];
				
			}elseif($value['asipermissions'] == 1){

				echo $lingo['accoPlay'];
				
			}
			?>
			
			</td>
			<td>
			<?php 
			if(is_array($data) && in_array($value['usrid'], $data)){
				print 'online';	
			}else{
				print 'offline';	
			}
			?>
			
			</td>
			
			<?php 
			if($helper->session->udata[0]['asipermissions'] == 69){
			?>
			
			<td>
				<a href="/server/account/do/master/<?php echo $value['usrid'];?>">
					<?php 
						echo $lingo['toAdmin'];
					?>
				</a>
				<br />
				<a href="/server/account/do/player/<?php echo $value['usrid'];?>">
					<?php 
						echo $lingo['toPlayer'];
					?>
				</a>
				<br />
				<a href="/server/account/do/remove/<?php echo $value['usrid'];?>">
					<?php 
						echo $lingo['delete'];
					?>
				</a>
			</td>
			
			<?php 
			}
			?>
			
		</tr>
	<?php 
		}
	}
	?>
		
	</table>

</div>
