<div class="show-runner">


	<?php 
	if(isset($error) && is_array($error) && count($error)){
	?>
	<div class="sys-message">
		<ul>
		<?php 
		foreach($error AS $key => $value){
			echo '<li>'.$value.'</li>';
		}
		?>	
		</ul>
	</div>
	<?php 
	}
	?>
	
	<?php 
	if(isset($message) && is_array($message) && count($message)){
	?>
	<div class="message">
		<ul>
		<?php 
		foreach($message AS $key => $value){
			echo '<li>'.$value.'</li>';
		}
		?>	
		</ul>
	</div>
	<?php 
	}
	?>
	
	<?php 
		foreach($session->udata AS $key => $value){
			echo '<pre>';
			print_r($value);
			echo '</pre>';
		}
		?>
	
	
	<?php 
	if(isset($session) && is_object($session) && count($session)){
	?>
	<div class="message">
		<ul>
		<?php 
		foreach($session->udata AS $key => $value){
			echo '<li>'.$value.'</li>';
		}
		?>	
		</ul>
	</div>
	<?php 
	}
	?>

</div>
