html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
	font-family: arial, verdana, serif;
	font-size: 13px;
	color: #555555;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

form {
	margin-top: 25px;
	display: block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select, button, a.button {
    padding: 6px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	background: #ffffff;
	color: #555555;
	margin: 0 0 8px 0;
	border: 1px dashed #aaaaaa;
	background: #efefef;
	color: #333333;
}

button {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial', verdana, serif;
}

h1 {
	font-size: 26px;
	margin: 15px 0 0 0;
	padding: 0 0 0 15px;
}
h2 {
	font-size: 22px;
	margin: 15px 0 0 0;
	padding: 0 0 20px 0px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
	font-weight: normal;
}

.short {
	width: 50px;
}
.norm {
	width: 180px;
}
#register input.button[type="submit"] {
    background: none repeat scroll 0 0 #F0A437;
    cursor: pointer;
    left: 123px;
    position: relative;
    top: -58px;
}
#register input.button[type="submit"]:hover {
    background: #d18922;
}
#register #log input.button[type="submit"] {
    left: 0px;
    top: 0px;
}
.question {
    background: url("../images/question.png") no-repeat scroll left top transparent;
    display: block;
    height: 18px;
    left: 76px;
    position: relative;
    top: -33px;
    width: 18px;
    cursor: pointer;
}
.info {
	width: 120px;
	display: none;
	height: 150px;
	color: #333333;
	position: absolute;
	z-index: 5;
	top: -100px;
	left: 120px;
	background: #ffffff;
	padding: 8px;
	border: 6px solid #d18922;
}
.input-container {
	position: relative;
}
h3.sucmsg {
	border: 1px solid #444444;
	background: #19db27;
	padding: 25px 15px 25px 15px;
	width: 100%;
}

#system-message-container dl#system-message {
    background-color: #358c3b;
    border-radius: 6px 6px 6px 6px;
    color: #ffffff;
    display: block;
    height: auto !important;
    margin-bottom: 25px;
    min-height: 60px;
    padding: 10px;
    width: 91%;
}
#system-message-container dl#system-message dt {
    font-size: 14px;
    font-weight: bold;
}
#system-message-container dl#system-message {
    color: #ffffff;
}
.butter {
	position: relative;
	padding: 10px;
	margin: 0 4px 10px 0px;
	background: #F0A437;
	-moz-border-radius: 3px;
   	-webkit-border-radius: 3px;
   	-khtml-border-radius: 3px;
   	border-radius: 3px;	
	cursor: pointer;
	text-align: center;
}
.butter:hover {
	background: #cccccc;
}
#system-message-container ul {
    color: #ffffff;
    font-style: italic;
    margin-left: 10px;
    padding: 5px 0;
}

#system-message-container ul li {
    background: url("../images/li.png") no-repeat scroll left 6px transparent;
    list-style-type: none;
    padding: 2px 4px 2px 17px;
    text-decoration: none !important;
}


#system-error-container dl#system-message {
    background-color: #d21522;
    border-radius: 6px 6px 6px 6px;
    color: #ffffff;
    display: block;
    height: auto !important;
    margin-bottom: 25px;
    min-height: 60px;
    padding: 10px;
    text-decoration: none !important;
    width: 66%;
}
#system-error-container dl#system-message dt {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
#system-error-container dl#system-message {
    color: #ffffff;
    text-decoration: none !important;
}
#system-error-container ul {
    color: #ffffff;
    font-style: italic;
    margin-left: 10px;
    padding: 5px 0;
}

#system-error-container ul li {
    background: url("../images/li.png") no-repeat scroll left 6px transparent;
    list-style-type: none;
    padding: 2px 4px 2px 17px;
    text-decoration: none !important;
}

table{
	border-collapse:collapse;
	width: 100%;
}
table,th, td{
border: 1px solid #cccccc;
}
td {
	padding: 5px;
	width: 20%;
}
.tr {
	
}
.access-mover {
	height: 1px;
	left: -9999px;
	position: absolute;
}

#main-navi {
    background: none repeat scroll 0 0 #EFEFEF;
    height: 30px;
    padding: 9px 0;
}

ul#nav {
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 3px 15px 0 0;
    position: relative;
}

ul#nav li {
	list-style-type: none;
	padding: 0 10px 0 0;
	margin: 0;
	float: left;
}
ul#nav li:last-child {
	padding: 0 0 0 0;
}

ul#nav li a#naviUsers {
    background: url("../images/sprite.png") no-repeat scroll -105px top transparent;
    display: block;
    height: 24px;
    width: 24px;
}
ul#nav li a#naviUsers:hover {
	background: url('../images/sprite.png') no-repeat -105px -29px;
}

ul#nav li a#naviEmail {
    background: url("../images/sprite.png") no-repeat scroll -1px top transparent;
    display: block;
    height: 25px;
    width: 29px;
}
ul#nav li a#naviEmail:hover {
	background: url('../images/sprite.png') no-repeat -25px -25px;
}

ul#nav li a#engine {
    background: url("../images/sprite.png") no-repeat scroll left top transparent;
    display: block;
    height: 24px;
    width: 31px;
}
ul#nav li a#engine:hover {
	background: url('../images/sprite.png') no-repeat left -26px;
}
ul#nav li a#exit {
    background: url("../images/sprite.png") no-repeat scroll -37px -2px transparent;
    display: block;
    height: 28px;
    width: 21px;
}
ul#nav li a#exit:hover {
	background: url('../images/sprite.png') no-repeat -37px -29px;
}

ul#gencode {
	padding: 0 0 8px 0;
	
}