#app-wrapper {
	overflow: hidden;
	width: 100%;
	height: auto !important;
	min-height: 200px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	padding: 0 0 25px 0;
}
	#register {
		position: relative;
		top: 10px;
		left: 10px;
		padding-bottom: 25px;
	}
	.show-runner {
		position: relative;
		top: 0px;
		left: 0px;
		padding-bottom: 25px;
		overflow: hidden;
	}
	#invite {
	    margin-top: 8px;
	}
	#register #show-register,
	#register #show-login{
		position: relative;
		padding: 10px;
		margin: 0 4px 10px 0px;
		background: #F0A437;
		-moz-border-radius: 3px;
    	-webkit-border-radius: 3px;
    	-khtml-border-radius: 3px;
    	border-radius: 3px;	
		cursor: pointer;
		text-align: center;
	}
	ul#tabs {
		display: table;
	}
	ul#tabs li {
		float: left;
		list-style-type: none;
		padding: 0;
		margin: 0;
		text-align: center;
		font-family: 'Droid Sans', arial, serif;
		color: #333333;
		text-align: center;
	}
	#register #show-register {
		
	}
	#register #show-login {
	    
	}
	.container {
		position: relative;
		overflow: hidden;	
	}