<div id="admin-navi">

	<ul id="nav">
	
		<li>
			<a class="roundSmall" href="/server/mator/users" title="<?php echo $lingo['admUsers'];?>" id="admUsers">
				<span class="access-mover">
					<?php echo $lingo['admUsers'];?>
				</span>
			</a>
		</li>
		
		<li>
			<a class="roundSmall" href="/server/mator/accounts" title="<?php echo $lingo['admAccounts'];?>" id="admAccounts">
				<span class="access-mover">
					<?php echo $lingo['admAccounts'];?>
				</span>
			</a>
		</li>
		
		<li>
			<a class="roundSmall" href="/server/mator/conf" title="<?php echo $lingo['admServerConf'];?>" id="admServerConf">
				<span class="access-mover">
					<?php echo $lingo['admServerConf'];?>
				</span>
			</a>
		</li>
	
	</ul>

</div>