<?php 
if(isset($errmsg) && is_array($errmsg) && count($errmsg) > 0){
?>
<div id="system-error-container">
	<dl id="system-message">
		<dt class="error">System Error</dt>
		<dd class="error message">
			<u>
			<?php 
			foreach($errmsg AS $key => $value){
				echo '<li>'.$value.'</li>';
			}
			?>
			</u>
		</dd>
	</dl>
</div>
<?php 
}
?>