<div id="main-navi">

	<ul id="nav">
	
		<li>
			<a href="" title="<?php echo $lingo['naviUsers'];?>" id="naviUsers">
				<span class="access-mover">
					<?php echo $lingo['naviUsers'];?>
				</span>
			</a>
		</li>
		
		<li>
			<a href="" title="<?php echo $lingo['naviConf'];?>" id="engine">
				<span class="access-mover">
					<?php echo $lingo['naviConf'];?>
				</span>
			</a>
		</li>
		
		<li>
			<a href="/server/account/do/logout" title="<?php echo $lingo['naviConf'];?>" id="exit">
				<span class="access-mover">
					<?php echo $lingo['naviExit'];?>
				</span>
			</a>
		</li>
	
	</ul>

</div>