<div id="system-message-container">
	<dl id="system-message">
		<dt class="error">System says</dt>
		<dd class="error message">
			<ul>
				<li><?php if(isset($sysmsg)): echo $sysmsg; endif;?></li>
			</ul>
		</dd>
	</dl>
</div>