
<div id="register">

	<?php 
	if(isset($sysmsg) && !empty($sysmsg)){
		echo $sysmsg;
	} 
	?>
	
	<?php 
	if(isset($errmsg) && !empty($errmsg)){
		echo $errmsg;
	}
	?>
	
	
	

	<ul id="tabs">
		<li id="show-register" class="button"><?php echo $lingo['join'];?></li>
		<li id="show-login" class="button"><?php echo $lingo['login'];?></li>
		<li id="show-forgot"  class="button"><?php echo $lingo['forgotPassword'];?></li>
	</ul>
	
	<div class="container" id="reg">
	
		<h2><?php echo $lingo['gameName'];?></h2>
		
		<form action="/server/register/" method="post" id="register-form">
		
			<div class="input-container">
				<input type="hidden" name="register" value="1" />
				<input type="text" class="norm" name="username" value="<?php echo $lingo['userName'];?>" id="username" onfocus="if (this.value=='<?php echo $lingo['userName'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['userName'];?>'" />
			</div>
			
			<div class="input-container">
				<input type="text" class="norm" name="email" id="email" value="<?php echo $lingo['email'];?>" onfocus="if (this.value=='<?php echo $lingo['email'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['email'];?>'" />
			</div>
			
			<div class="input-container">
				<input type="text" class="norm" name="email-confirm" id="email-confirm" onfocus="if (this.value=='<?php echo $lingo['emailConfirm'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['emailConfirm'];?>'" value="<?php echo $lingo['emailConfirm'];?>" />
			</div>
			
			<div class="input-container">
				<input type="text" name="code" value="<?php echo $lingo['code'];?>" id="code" class="short" onfocus="if (this.value=='<?php echo $lingo['code'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['code'];?>'" />
				<div class="question"></div>
				<div class="info">
					<?php echo $lingo['helpCode'];?>
				</div>
			</div>
		
			<div class="input-container">
				<input type="submit" name="submitter" value="<?php echo $lingo['register'];?>" class="button" />
			</div>
		
		</form>
		<!-- end register-form -->
	
	</div>
	<!-- end container -->
	
	<div class="container" id="log">
	
		<h2><?php echo $lingo['login'];?></h2>
		
		<form action="/server/register/" method="post" id="register-form">
		
			<div class="input-container">
				<input type="hidden" name="login" value="1" />
				<input type="text" class="norm" name="username" value="<?php echo $lingo['userName'];?>" id="username" onfocus="if (this.value=='<?php echo $lingo['userName'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['userName'];?>'" />
			</div>
			
			<div class="input-container">
				<input type="password" class="norm" name="password" id="password" value="<?php echo $lingo['password'];?>" onfocus="if (this.value=='<?php echo $lingo['password'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['password'];?>'" />
			</div>
		
			<div class="input-container">
				<input type="submit" name="submitter" value="<?php echo $lingo['login'];?>" class="button" />
			</div>
		
		</form>
		<!-- end register-form -->
	
	</div>
	<!-- end container -->
	
	
	<div class="container" id="forgot">
	
		<h2><?php echo $lingo['forgotPassword'];?></h2>
		
		<form action="/server/register/" method="post" id="forgot-form">
		
			<div class="input-container">
				<input type="hidden" name="forgot" value="1" />
				<input type="text" class="norm" name="femail" value="<?php echo $lingo['email'];?>" id="email" onfocus="if (this.value=='<?php echo $lingo['email'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['email'];?>'" />
			</div>
		
			<div class="input-container">
				<input type="submit" name="submitter" value="<?php echo $lingo['requestPassword'];?>" class="button" />
			</div>
		
		</form>
		<!-- end register-form -->
	
	</div>
	<!-- end container -->
	
	
</div>
<!-- end register-form -->
