<div class="show-runner">
  <?php 
  if(isset($sysmsg) && !empty($sysmsg)){
    echo $sysmsg;
  } 
  ?>
  
  <?php 
  if(isset($errmsg) && !empty($errmsg)){
    echo $errmsg;
  }
  ?>
  
  <?php if(isset($data) && is_array($data)): ?>
    <?php foreach($data AS $val):?>
        <?php echo $val;?>
    <?php endforeach;?>
  <?php endif;?>
  
  
  <?php if(isset($sports) && is_array($sports) && count($sports)):?>  	
  
  	<?php foreach($sports['Sport'] AS $val):?>
  		
  		<?php
		  		//print '<pre>';
				//print_r($val);
				//print '</pre>';
		  		?>	
  	
  		<h3><?php echo $val['@attributes']['SportName'];?></h3>
  		<?php if(isset($val['League']) && count($val['League'])):?>
  		
  			<?php foreach($val['League'] AS $value):?>
  				
  				<?php
		  		//print '<pre>';
				//print_r($value);
				//print '</pre>';
		  		?>	
		  		
  			<?php endforeach;?>
  					
  		<?php endif;?>
  			
  		<?php
  		//print '<pre>';
		//print_r($val);
		//print '</pre>';
  		?>
  		
  	<?php endforeach;?>	
  
  <?php endif;?>
  
  
</div>
