
<div id="register">

  <?php 
  if(isset($sysmsg) && !empty($sysmsg)){
    echo $sysmsg;
  } 
  ?>
  
  <?php 
  if(isset($errmsg) && !empty($errmsg)){
    echo $errmsg;
  }
  ?>
	
	
	<div class="container" id="log">
	
		<h2><?php echo $lingo['admLogin'];?></h2>
		
		<form action="/server/mator/" method="post" id="register-form">
		
			<div class="input-container">
				<input type="hidden" name="login" value="1" />
				<input type="text" class="norm" name="username" value="<?php echo $lingo['userName'];?>" id="username" onfocus="if (this.value=='<?php echo $lingo['userName'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['userName'];?>'" />
			</div>
			
			<div class="input-container">
				<input type="password" class="norm" name="password" id="password" value="<?php echo $lingo['password'];?>" onfocus="if (this.value=='<?php echo $lingo['password'];?>') this.value = ''" onblur="if (this.value == '') this.value = '<?php echo $lingo['password'];?>'" />
			</div>
		
			<div class="input-container">
				<input type="submit" name="submitter" value="<?php echo $lingo['login'];?>" class="button" />
			</div>
		
		</form>
		<!-- end register-form -->
	
	</div>
	<!-- end container -->
	
	
</div>
<!-- end register-form -->
