<?php
$this->headTitle()->setSeparator(' - ')
                  ->setAutoEscape(false);

$basePath = $this->basePath();
$this->headLink()->appendStylesheet($basePath . '/templates/classic/css/foundation.css')
                 ->appendStylesheet($basePath . '/templates/classic/css/app.css');
                 


                 

$this->headLink(array(
            'rel'  => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $basePath . '/images/favicon.ico',
        ));

// HTML5 shim, for IE6-8 support of HTML elements
$this->headScript()->appendFile($basePath . '/templates/classic/js/jquery-1.8.2.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/foundation.min.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/modernizr.foundation.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/app.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/jquery.easing.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/jquery.cookie.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/jquery.page.js', 'text/javascript');
				   


echo $this->doctype();
?>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  
  
  <?php echo $this->headTitle('Piratenkampf S2') ?>
	<?php //echo $this->headMeta()->appendName('viewport', 'width=device-width,initial-scale=1,user-scalable=no') ?>
	<!-- Le styles -->
	<?php echo $this->headLink() ?>
	<!-- Scripts -->
	<?php echo $this->headScript(); 

	//
	?>

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to Piratenkampf</title>
  


  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <div class="row">
    <div class="twelve columns">
		
		<dl class="tabs" id="mainnav">
		  <dd><a class="button" href="/start"><?php echo $this->lang['showHome'];?></a></dd>
		  <dd>
		  	<a class="button" href="#simple3"><?php echo $this->lang['navFAQ'];?></a>
		  </dd>
		  <dd>
		  	<a class="button" href="/beschreibung"><?php echo $this->lang['showStarted'];?></a>
		  </dd>
		  <dd>
		  	<a class="button" href="#simple5"><?php echo $this->lang['navContact'];?></a>
		  </dd>
		  <dd>
		  	<a class="button" href="http://www.piratenkampf.de/forum" class="external"><?php echo $this->lang['showForum'];?></a>
		  </dd>
		  <dd>
		  	<a class="button" href="#simple6"><?php echo $this->lang['showHistory'];?></a>
		  </dd>
		</dl>
    
    </div>
  </div>
  
  <div class="row">
    <div class="twelve columns">
      <div id="featured">
        <img src="http://placehold.it/1200x250&text=Slide_1" alt="slide image">
        <img src="http://placehold.it/1200x250&text=Slide_2" alt="slide image">
        <img src="http://placehold.it/1200x250&text=Slide_3" alt="slide image">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="eight columns">

      <!-- Grid Example -->
      <div class="row">
        <div class="twelve columns">
          <div class="panel">
             
             <?php echo $this->content; ?>
             
          </div>
        </div>
      </div>

      <div class="row">
        <div class="four columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="four columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="four columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
      </div>

    </div>

    <div class="four columns">
    
    
      <h4><?php echo $this->lang['gettingHead'];?></h4>
    
      <?php 
      echo $this->lang['gettingStartedShort'];
      ?>


      <h4>Other Resources</h4>
      <p>Once you've exhausted the fun in this document, you should check out:</p>
      <ul class="disc">
        <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
        <li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
        <li><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
      </ul>
    </div>
  </div>


</body>
</html>
