<?php
$this->headTitle()->setSeparator(' - ')
                  ->setAutoEscape(false);

$basePath = $this->basePath();
$this->headLink()->appendStylesheet($basePath . '/templates/classic/css/jquery.alerts.css')
                 ->appendStylesheet($basePath . '/templates/classic/css/normalize.css')
                 ->appendStylesheet($basePath . '/templates/classic/css/foundation.css');
                 
                 

$this->headLink(array(
            'rel'  => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $basePath . '/images/favicon.ico',
        ));

// HTML5 shim, for IE6-8 support of HTML elements
$this->headScript()->appendFile($basePath . '/templates/classic/js/jquery-1.7.2.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/jquery.alerts.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/jquery.cookie.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/classic/js/jquery.page.js', 'text/javascript');
				   

echo $this->doctype();
?>

<html lang="en">
<head>
	<meta charset="utf-8">
	
	<?php echo $this->headTitle() ?>
	<?php echo $this->headMeta()->appendName('viewport', 'width=device-width,initial-scale=1,user-scalable=no') ?>
	<!-- Le styles -->
	<?php echo $this->headLink() ?>
	<!-- Scripts -->
	<?php echo $this->headScript();

	//
	?>
	
</head>
  
<body>


 <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Top Bar Title
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="">
          <a href="#">Main Item 1</a>
        </li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li>
        
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="wrapper">
 
    <!-- Sidebar -->
 

    <div class="large-2 columns">

      <p>
        123 Awesome St.<br />
        Barsoom, MA 95155
      </p>
    </div>
    <!-- End Sidebar -->
    
    <div class="large-9 columns">
 
      <div id="app-wrapper">
  
        <?php echo $this->content; ?>
      
      </div>
      <!-- end app-wrapper -->
  
    </div>
 
    
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 
  <!-- End Footer -->
 
 
 
  <!-- Map Modal -->
 
  <div class="reveal-modal" id="mapModal">
    <h4>Where We Are</h4>
    <p><img src="http://placehold.it/800x600" /></p>
 
    <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
    <a href="#" class="close-reveal-modal">&times;</a>
  </div>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/templates/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </body>
</html>
	
	
</body>

</html>