<?php
$this->headTitle()->setSeparator(' - ')
                  ->setAutoEscape(false);

$basePath = $this->basePath();
$this->headLink()->appendStylesheet($basePath . '/templates/mator/css/base.css')
                 ->appendStylesheet($basePath . '/templates/mator/css/jquery.alerts.css');
                 
                 

$this->headLink(array(
            'rel'  => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $basePath . '/images/favicon.ico',
        ));

// HTML5 shim, for IE6-8 support of HTML elements
$this->headScript()->appendFile($basePath . '/templates/mator/js/jquery-1.7.2.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/mator/js/jquery.alerts.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/mator/js/jquery.cookie.js', 'text/javascript')
				   ->appendFile($basePath . '/templates/mator/js/jquery.page.js', 'text/javascript');
				   


echo $this->doctype();
?>

<html lang="en">
<head>
	<meta charset="utf-8">
	
	<?php echo $this->headTitle('Piratenkampf S2') ?>
	<?php echo $this->headMeta()->appendName('viewport', 'width=device-width,initial-scale=1,user-scalable=no') ?>
	<!-- Le styles -->
	<?php echo $this->headLink() ?>
	<!-- Scripts -->
	<?php echo $this->headScript();

	//
	?>
	<link rel="stylesheet" type="text/css" href="/templates/mator/css/handheld.css"  />
	
	<style type="text/css" media="screen and (min-width: 481px)">

		<!--
		
		@import url("/templates/mator/css/layout.css");
		
		-->
		
	</style>
	
	<link rel="stylesheet" href="/templates/mator/css/handheld.css" media="only screen and (max-device width:480px)" />
	

</head>
  
<body>

	<div id="app-wrapper">
	
	 	<?php echo $this->content; ?>
	
	</div>
	<!-- end app-wrapper -->
	sa
</body>

</html>